<form class="bc-container" [formGroup]="taskForm">
        <div class="bc-row">
            <div class="
                bc-col-lg-4
                bc-offset-lg-4
                bc-col-md-6
                bc-offset-md-3
                bc-col-sm-8
                bc-offset-sm-2
                bc-col-xs-4
                bc-offset-xs-1
            ">
                <h2 >Creando nueva Tarea</h2>
            </div>
        </div>
        <div class="bc-row  space_3_top">
            <div class="
                bc-col-xl-8
                bc-offset-xl-2
                bc-col-lg-10
                bc-offset-lg-1
                bc-col-sm-12
                bc-offset-sm-0
                bc-col-xs-6
                bc-offset-xs-0
            ">
                <bc-form-field>
                    <input id="title" bc-input
                            aria-label="input-default"
                            type="text"
                            formControlName="title"
                            required/>
                    <label for="title">Titulo</label>
                    <span>Ingresa un titulo corto</span>
                </bc-form-field>
            </div>
        </div>
        <div class="bc-row space_2_top">
            <div class="
            bc-col-xl-8
            bc-offset-xl-2
            bc-col-lg-10
            bc-offset-lg-1
            bc-col-sm-12
            bc-offset-sm-0
            bc-col-xs-6
            bc-offset-xs-0
            ">
                <bc-form-field>
                    <textarea
                            id="description"
                            bc-input aria-label="text-area"
                            type="text"
                            placeholder=""
                            value=""
                            formControlName="description"
                            required></textarea>
                    <label for="description">Descripcion</label>
                    <span>Breve descripci&oacute;n</span>
                </bc-form-field>
            </div>
        </div>
        <div class="bc-row space_2_top">
            <div class="
                bc-col-xl-8
                bc-offset-xl-2
                bc-col-lg-10
                bc-offset-lg-1
                bc-col-sm-12
                bc-offset-sm-0
                bc-col-xs-6
                bc-offset-xs-0
            ">
                <bc-form-field>
                    <input
                            id="keyWords"
                            bc-input
                            aria-label="input-default"
                            type="text"
                            value=""
                            formControlName="keyWords"
                            required/>
                    <label for="keyWords">Palabras clave</label>
                    <span>Separa las palabras con slash. ej: Ventana/limpiar/dos pisos/</span>
                </bc-form-field>
            </div>
        </div>
        <div class="bc-row space_3_top">
            <div class="
                bc-col-xl-4
                bc-offset-xl-2
                bc-col-lg-5
                bc-offset-lg-1
                bc-col-sm-6
                bc-col-xs-6
            ">
                <div class="form-group">
                    <label for="count">Cantidad</label>
                    <input  type="number"
                            class="form-control"
                            id="count"
                            formControlName="count">
                </div>
            </div>
            <div class="
                bc-col-xl-4
                bc-col-lg-5
                bc-col-sm-6
                bc-col-xs-6
            ">
                <div class="form-group">
                    <label for="price">Precio</label>
                    <input  id="price"
                            type="number"
                            class="form-control"
                            formControlName="price">
                </div>
            </div>
        </div>
        <div class="bc-row space_3_top">
            <bc-form-field class="
                        bc-col-xl-4
                        bc-offset-xl-2
                        bc-col-lg-5
                        bc-offset-lg-1
                        bc-col-sm-6
                        bc-col-xs-6
                    "
                    inputType="date">
                <em>calendar</em>
                <input
                    bc-input
                    typeInput="input-default-left"
                    id="scheduleDate"
                    type="date"
                    min = "{{getCurrentDate()}}"
                    formControlName="scheduleDate"
                    required/>
                <em>arrow2-down</em>
                <label for="scheduleDate">Fecha de tarea</label>
                <span>Selecciona una fecha del calendario</span>
            </bc-form-field>
            <bc-form-field class="
                        bc-col-xl-4
                        bc-col-lg-5
                        bc-col-sm-6
                        bc-col-xs-6
                    "
                    inputType="time">
                <input
                    bc-input
                    typeInput="input-default-left"
                    id="time"
                    type="time"
                    value="{{getCurrentHour()}}"
                    formControlName="time"
                    required/>
                <label for="time">Hora de tarea</label>
                <span>Selecciona una hora del dia</span>
            </bc-form-field>
        </div>
        <div class="bc-row space_8_top space_8_top_padding">
            <div class="
                bc-col-xl-4
                bc-offset-xl-4
                bc-col-lg-6
                bc-offset-lg-3
                bc-col-md-8
                bc-offset-md-2
                bc-col-sm-10
                bc-offset-sm-1
                bc-col-xs-6
                bc-offset-xs-0
            ">
                <button bc-button (click)="createTask()">Crear</button>
            </div>
        </div>
</form>